.light {
    background-color: #F5F6F5;
}
.main {
    background-color: #E7EBE8;
    color: #E7EBE8;
}
.shade {
    background-color: #7A808F;
}
.accent {
    background-color: #6a645e;
    color: #E7EBE8;
}